* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* background-image: url("https://cdn.pixabay.com/photo/2018/04/13/08/04/cityscape-3315814_960_720.jpg"); */
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    /* color: white; */
    color: #08F7FE
}

/* .blinking{
    animation:blinkingText 1.5s infinite;
} */
@keyframes blinkingText{
    0%{     color: #08F7FE;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    /* 100%{   color: #000;    } */
}

#category-storage {
    margin-bottom: 3%;
    color: white;
    font-size: 2em;
    text-align: center;
}

#btnMap {
    position: absolute;
    top: 5px;
    right: 5px;
}

#btnYelpRequest {
    position: absolute;
    top: 5px;
    left: 5px;
}

#stage2-results {
    /* border: 5px solid black; */
    height: 500px;
}

#disclaimer-results {
    border: 1px solid black;
}

/* #empty-col-1 {
    border: 1px solid red;
} */

#yelp-info-storage {
    /* border: 1px solid green; */
    height: 500px;
    /* overflow-y: auto; */
    overflow-y: scroll;
}

.collection {
    height: 150px;
    /* border: none; */
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
}

.collection img {
    /* height: 150px; */
    height: 100%;
    width: 150px;
    float: left;
    /* margin-bottom: 3%; */
    /* margin-top: 5%; */
    /* margin-left: 2%; */
    /* position: absolute; */
    /* right: 15px; */
    /* bottom: 2px; */
}

.name,
.category, 
.address,
.number,
.rating,
.reviews,
.price {
    margin-left: 50%;
    padding-top: .5%;
    
    /* padding-right: 1%; */
}

.name {
    /* margin-top: 3%; */
    /* font-weight: 800; */
    font-family: 'Fjalla One', sans-serif;
}

#map {
    /* border: 1px solid yellow; */
    height: 500px;
    /* margin-top: 2.5%; */
}

/* #empty-col-2 {
    border: 1px solid purple;
} */





