* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


/* what do want from this background image?  Maybe change it to a solid background for 600 and smaller and also larger than 1200?  */
body {
    background-image: url("https://cdn.pixabay.com/photo/2018/04/13/08/04/cityscape-3315814_960_720.jpg");
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
}

h1 {
    color: white;
}

#food-type-search, #location-search {
    border: 1px solid white;
    width: 20%;
    background-color: white;
}

.label-style {
    margin-right: 1%;
    color:white;
    font-size: 2em;
}




