/* body {
    background-image: url("https://www.google.com/url?sa=i&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwizlsnlnujkAhWXCjQIHe3CAKoQjRx6BAgBEAQ&url=https%3A%2F%2Fwallpapercave.com%2Fpretty-night-sky-backgrounds&psig=AOvVaw2bXXA0pG8_o1_puvdPfnhN&ust=1569372636091571");
} */

#food-type-search, #location-search {
    border: 1px solid black;
    background-color: gray;
    /* width: 30%; */
}

.label-style {
    color: black;
    font-size: 1.5em;
}